.md-avatar {
    border-radius: 100%;
    border: 1px solid #ddd;
    width: 48px;
}

.tweet-created-at {
    font-style: italic;
    color: #c8c8c8;
}

.tweet {
    min-width: 420px;
}

.tweet md-card-content {
    padding-top: 5px;
    padding-bottom: 0px
}