<md-card layout="column" flex class="tweet">

    <div layout="row" layout-margin>
        <div flex>
            <a ng-href="#/profile/{{ tweet.author }}">
                <img alt="user-avatar" src="redtweet/resources/avatar-01.svg" class="md-avatar"/>
            </a>
        </div>
        <div>
            <md-subheader><h2>{{ tweet.author }}</h2></md-subheader>
        </div>
    </div>
    <md-card-content>
        <div class="md-list-item-text"><p>{{ tweet.content }}</p></div>
        <div layout="row" layout-margin layout-align="end center" class="tweet-created-at">
            {{ tweet.createdAt | amTimeAgo}}
        </div>
    </md-card-content>

</md-card>