<md-card layout="column" flex class="tweet">


    <md-card-content>

        <div layout="row">
            <div layout="column" layout-margin>
                <div flex layout="row" layout-align="center center">
                    <a ng-href="#/profile/{{ tweet.author }}">
                        <img alt="user-avatar" src="redtweet/resources/avatar-01.svg" class="md-avatar"/>
                    </a>
                </div>
            </div>

            <div layout="column" layout-margin>
                <div layout="row">
                    <div>
                        <a ng-href="#/profile/{{ tweet.author }}">
                            <h3>{{ tweet.author }}</h3>
                        </a>
                    </div>
                </div>
                <div layout="row">
                    <div class="md-list-item-text"><p>{{ tweet.content }}</p></div>
                </div>
            </div>
        </div>
        <div layout="row">
            <div layout="row" layout-margin flex>
                <div layout="row" layout-align="start end" flex>

                    <ng-md-icon ng-show="tweet.author !== user.userName" icon="reply_all" size="26"
                                ng-click="retweet()">
                        <md-tooltip>
                            Retweet
                        </md-tooltip>
                    </ng-md-icon>

                    <ng-md-icon icon="favorite_outline" size="26" ng-click="favorite()">
                        <md-tooltip>
                            Favorite
                        </md-tooltip>
                    </ng-md-icon>

                    <ng-md-icon icon="delete" size="26" ng-click="delete()" ng-show="tweet.author === user.userName">
                        <md-tooltip>
                            Remove
                        </md-tooltip>
                    </ng-md-icon>

                </div>
                <div layout="row" layout-align="end end" class="tweet-created-at">
                    {{ tweet.createdAt | amTimeAgo}}
                </div>
            </div>
        </div>

    </md-card-content>

</md-card>