<md-card layout="column">

    <md-toolbar>
        <h3 class="md-toolbar-tools"><span>Sign In</span></h3>
    </md-toolbar>

    <md-card-content>

        <form novalidate name="signInForm">

            <div layout="column">
                <md-input-container flex>
                    <label>Email</label>
                    <input type="email" ng-model="user.email">
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container flex>
                    <label>Password</label>
                    <input type="password" ng-model="user.password">
                </md-input-container>
            </div>

        </form>
    </md-card-content>
</md-card>