<md-card layout="column">

    <md-toolbar>
        <h3 class="md-toolbar-tools"><span>Sign In</span></h3>
    </md-toolbar>

    <md-card-content>

        <form novalidate name="signInForm" ng-submit="signInForm.$valid && submit()">

            <div layout="column">
                <md-input-container flex>
                    <label>Name</label>
                    <input name="name" ng-model="user.name" required>

                    <div ng-messages="signInForm.name.$error">
                        <div ng-message="nameNotFound">Username not found</div>
                    </div>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container flex>
                    <label>Password</label>
                    <input name="password" type="password" ng-model="user.password" required>

                    <div ng-messages="signInForm.password.$error">
                        <div ng-message="badPassword">Password does not match</div>
                    </div>
                </md-input-container>
            </div>

            <div layout="column">
                <md-button class="md-raised md-primary">Enter</md-button>
            </div>

            <div ng-show="authenticating" layout="column" layout-align="center center">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>

            <div layout="column">
                <md-input-container flex>
                    <p>Or sign up in 15 seconds <a href="#/sign-up">here</a></p>
                </md-input-container>
            </div>

        </form>
    </md-card-content>
</md-card>