<md-card layout="column">

    <md-toolbar>
        <h3 class="md-toolbar-tools"><span>Sign In</span></h3>
    </md-toolbar>

    <md-card-content>

        <form novalidate name="signInForm" ng-submit="signInCtrl.submit()">

            <div layout="column">
                <md-input-container flex>
                    <label>Name</label>
                    <input name="name" ng-model="signInCtrl.user.name" required>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container flex>
                    <label>Password</label>
                    <input name="password" type="password" ng-model="signInCtrl.user.password" required>
                </md-input-container>
            </div>

            <div layout="column">
                <md-button class="md-raised md-primary">Enter</md-button>
            </div>

            <div ng-show="signInCtrl.requesting" layout="column" layout-align="center center">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </form>
    </md-card-content>
</md-card>