<md-card class="user-card">

    <div layout="row" flex layout-margin>
        <img class="avatar-profile" ng-src="redtweet/resources/avatar-01.svg"/>
        <ng-md-icon icon="person_add" size="36"
                    ng-show="userCardCtrl.user.userName !== user.userName"
                    ng-click="userCardCtrl.follow()"
                    ng-class="{highlight: user.followed}">
            <md-tooltip>
                Follow
            </md-tooltip>
        </ng-md-icon>

    </div>

    <md-card-content>
        <div layout="row">
            <div layout="column" flex>
                <p>User name: {{ user.userName }}</p>

                <p>First name: {{ user.firstName }}</p>

                <p>Last name: {{ user.lastName }}</p>
            </div>

            <div layout="column" flex>
                <p>Followers: {{ user.followers || 0 }}</p>

                <p>Following: {{ user.following || 0 }}</p>

                <p>Tweets: {{ user.tweets || 0 }}</p>
            </div>
        </div>

    </md-card-content>
</md-card>